body {
    margin: 0;
    font-family: Arial;
  }
  
  .top {
    display: flex;
    gap: 5px;
    padding: 10px;
  }
  
  input {
    flex: 1;
    padding: 8px;
  }
  
  button {
    padding: 8px;
  }
  
  .controls {
    display: flex;
    gap: 5px;
    padding: 10px;
  }
  
  iframe {
    width: 100%;
    height: calc(100vh - 110px);
    border: none;
  }